altv-server.exe
mfcm140d.dll
mfcm140ud.dll
msvcp140_1d.dll
msvcp140_2d.dll
msvcp140d.dll
node.dll
package-lock.json
pack.bat
server.log
ucrtbased.dll
vcamp140d.dll
vccorlib140d.dll
vcomp140d.dll
vcruntime140d.dll
cdn_upload
crashdumps
node_modules
cache
DB.js
altv
server.cfg
editor
dlc
1.ppk
2
server.cfg